#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	cython3 --embed recovery_setup.py -o recovery_setup.c
	gcc -O2 -o velumrec recovery_setup.c \
		$(shell python3-config --includes) \
		$(shell python3-config --ldflags --embed) \
		-lcurl

override_dh_auto_install:
	install -d debian/velum-rec/usr/lib/velumrec
	install -m 700 velumrec debian/velum-rec/usr/lib/velumrec/velumrec
